# OK THIS IS GOING TO BE REALLY DIFFERENT BUT I DON'T KNOW HOW YET
#***************** DEBUG THIS
# but yeah, 48 pin package doesn't have pins 95-119 that I'm using.
# maybe the button can still be pin 44! Time to find that upduino pinout.
# indeed it looks like I can! Follow also osresearch's upduino_v2.pcf (in images folder atm)
set_io the_led 95
set_io o_led0 99
set_io o_led1 98
set_io o_led2 97
set_io o_led3 96
set_io i_clk 21
set_io the_button 44
set_io i_bit7 119
set_io i_bit6 118
set_io i_bit5 117
set_io i_bit4 116
set_io i_bit3 115
set_io i_bit2 114
set_io i_bit1 113
set_io i_bit0 112
